version: '3.8'

services:
  ui:
    container_name: react
    build:
      context: .
      args:
        SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
        RELEASE_NAME: ${RELEASE_NAME}
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=development
      - VITE_SENTRY_DSN=${VITE_SENTRY_DSN:-}
      - VITE_RELEASE_NAME=${RELEASE_NAME}
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true