version: '3.8'

services:
  ui:
    container_name: react
    build: .
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=development
      - VITE_SENTRY_DSN=${VITE_SENTRY_DSN:-}
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true